.paralex {
    height: 55rem;
    min-height: 50rem;
    overflow: hidden;
    background-color: #333;
}
.paralex-img {
    position: absolute;
    height: 90rem;
    width: 100vw;
    top: -20rem;
    left: 0;
    background-size: cover;
    background-position: center top;
    filter: grayscale(60%);
    transform: translateZ(0); //for safari jittering on scroll
}
.wrapper {
    max-width: 110rem;
    width: 80%;
    padding: 10rem 4rem;
    margin: auto;
}

.paralex-cover {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(33, 33, 38, 0.7);
    display: grid;
    align-content: center;
    text-align: center;
    color: #fff;
    padding: 4rem 4rem 2rem;
}
.paralex-title {
    font-size: 6rem;
    // text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 0.2rem;
    line-height: 1.1;
}
.paralex-subtitle {
    font-size: 2.7rem;
    font-weight: 400;
    margin-top: 1rem;
}
.top {
    height: 60rem;
}
.top .paralex-img {
    background-image: url('/imgs/top.jpg');
    background-position: right 10%;
    filter: grayscale(40%);
}
.top .paralex-cover {
    padding-top: 10rem;
}
.middle .paralex-img {
    background-image: url('/imgs/medium.jpg');
    background-position: center;
}
.bottom .paralex-img {
    background-image: url('/imgs/bottom.jpg');
    background-position: center 10%;
}

.section-subtitle {
    font-size: 2.4rem;
    font-weight: 800;
    margin: 0 0 2rem;
    line-height: 1.4;
}
.two-columns {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
}
.column-left {
    padding-right: 5rem;
}
.column-right {
}
