.work {
    padding: 3rem;
    width: 100%;
    margin: auto;
    li {
        vertical-align: top;
        display: inline-flex;
        width: 46%;
        margin: 2%;
        background-color: rgba(22, 33, 44, 0.02);
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 30rem;
        font-size: 1.6rem;
        text-align: center;
        padding: 2rem 3rem;
        border-radius: 8px;
    }
    img {
        margin: 2rem auto;
        height: 7rem;
    }
    small {
        padding-top: 1rem;
    }
}
.in {
    height: 8rem;
    margin: 2rem auto 0;
    border: solid 0.2rem #fff;
    padding: 1rem;
    border-radius: 8px;
    cursor: pointer;
}
